.container {
    height: 100dvh;
    position: relative;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
}

.title {
    font-size: 10px;
    color: #828282;
}

.info {
    margin-top: 0.2rem;
    font-size: 14px;
}

.edit_btn {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    gap: 0.5rem;
    background-color: #2962FF;
    color: white;
    padding: 0.75rem 1rem;
    border-radius: 200px;
    font-size: 12px;
    cursor: pointer;
    border: none;
    outline: none;
}

.edit_btn:hover {
    background-color: #4978f7;
}

.edit_btn img {
    width: 16px;
}